body{
    font-family: "consolas", sans-serif;
    font-size: 22px;
    background-color: grey;
    color: darkblue;
}

.vermelho{
    font-family: "consolas", sans-serif;
    background-color: yellow;
    color: red;
}
.negrito{
    font-family: "consolas", sans-serif;
    background-color: black;
    color: white;
}