

.main{
    margin-top: 15px;
    font-family: "consolas", sans-serif;
    font-size: 22px;
    background-color: grey;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.vermelho{
    font-family: "consolas", sans-serif;
    
    color: rgb(70, 11, 9);
}
.negrito{
    font-family: "consolas", sans-serif;
   
    color: rgb(17, 17, 17);
}

.main a{
    color: black;
    font-weight: bolder;
}

.main a:hover {
    text-decoration: none;
    
}

.main button:hover{
    background-color: gray;
}

.caixaFile{
    background-color: rgb(148, 138, 138);
    width: fit-content;
    
}

.table-striped {
    background-color: darkred;
    font-family: 'consolas';
    color: white;
    cursor: pointer;
}

textarea {
    border: none;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    line-height: 44px;
    font-family:Helvetica;
    font-size: 17pt;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-image:url('linedBack@2x.png');
    outline: none;
    resize: none;
}

textarea.vert { resize:vertical; }

