.main{
    font-family: "consolas", sans-serif;
    font-size: 22px;
    background-color: grey;
    color: darkblue;
    padding: 20px;
    border-radius: 5px;
}

.vermelho{
    font-family: "consolas", sans-serif;
    
    color: red;
}
.negrito{
    font-family: "consolas", sans-serif;
   
    color: rgb(17, 17, 17);
}

.main a{
    color: black;
    font-weight: bolder;
}

.main a:hover {
    text-decoration: none;
    
}

.main button:hover{
    background-color: gray;
}

.caixaFile{
    background-color: rgb(238, 234, 255);
}

textarea {
    border: none;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    line-height: 44px;
    font-family:Helvetica;
    font-size: 17pt;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-image:url('linedBack@2x.png');
    outline: none;
    resize: none;
}

textarea.vert { resize:vertical; }

