.main{
    font-family: "consolas", sans-serif;
    font-size: 22px;
    background-color: grey;
    color: darkblue;
    padding: 20px;
    border-radius: 5px;
}

.vermelho{
    font-family: "consolas", sans-serif;
    
    color: red;
}
.negrito{
    font-family: "consolas", sans-serif;
   
    color: rgb(17, 17, 17);
}

.main a{
    color: black;
    font-weight: bolder;
}

.main a:hover {
    text-decoration: none;
    
}

.main button:hover{
    background-color: gray;
}

.caixaFile{
    background-color: rgb(238, 234, 255);
}


