@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif; 
}

.header{
    min-height: 100vh;/*garantir q vai ocupar o ecrã todo em height*/
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4, 9, 30, 0.7)), url('images/banner.png') ;
    background-position: center;
    background-size: cover;
    position: relative;/*PARA TER EM CONTA O PAI*/
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{/*elemento after para criar uma linha que depois vai levar uma animação*/
    content: '';/*etiqueta obrigatória*/
    width: 0%;  /*linha escondida*/
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;/*efeito transição*/
}

.nav-links ul li:hover::after{
    width: 100%;/*hover::after passa a 100%*/
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}
.text-box p{
    margin:10px 0 40px;
    font:14px;
    color: #fff;
}

.hero-btn{
    color:#fff;
    text-decoration: none;
    display: inline-block;/*ficar em linha com elemento div*/
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fas{
    display: none;
}

/*---------- Course ------------------*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color : #777;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;/*coloca os elementos distribuidos uniformemente em colunas iguais*/
    justify-content: space-between;/*espaço igual entre eles*/
}

.course-col{
    flex-basis: 31%;
    background-color: #dbb6b6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

@media(max-width: 700px){
    .text-box h1 {
        font-size: 20px;
    }

    
    .nav-links ul li {
       
        display: block;
      
    }

    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index:2;/*profundidade em css*/
        transition: 1s;
    }

    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}