body{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('./images/img.jpg');
    background-size: auto;
    
    background-position: center;
}
.login-box{
    color:#fff;
    max-width: 700px;
    float: none;
    margin: 150px 0;
}

.login-left{
    background: rgba(211,211,211,0.5);
    padding: 30px;
    border-radius: 10px;
    
}
.login-right{
    color: #000;
    background: rgb(211, 211, 211);
    padding: 30px;
    border-radius: 10px;
}

.centrar{
    text-align: center;
}

.form-control{
    background-color: transparent !important;
  
}